<div class="sidebar">
  <nav>
    <ul>
      <li>
        <%= link_to 'All', patch_path() %>
        <span><%= @last_commit.warnings.count %></span>
      </li>
    </ul>
    <h3>Security</h3>
    <ul>
      <li>
        <%= link_to 'Brakeman', patch_path(source: 'brakeman') %>
        <span><%= @last_commit.warnings.where(source: 'brakeman').count %></span>
      </li>
    </ul>
    <h3>Style</h3>
    <ul>
      <li>
        <%= link_to 'Rubocop', patch_path(source: 'rubocop') %>
        <span><%= @last_commit.warnings.where(source: 'rubocop').count %></span>
      </li>
    </ul>
  </nav>
</div>
<div class="page-content">
  <%- @response.each do |file| %>
    <div class=file>
      <%= file.filename %>
      <div class=patch>
        <% GitDiffParser::Patch.new(file.patch).changed_lines.each do |line| %>
          <pre data-content="<%= line.number %>" style="margin:0;padding:0;line-height:1;background-color:<%= line.content.match(/^+/) ? "#EEFFEB" : "#FFECEC" %>"> <%= line.content.gsub(/^[+|-]/, '') %></pre>
        <% end %>
      </div>
      <div class="violations">
        <% @line_changes = "(#{GitDiffParser::Patch.new(file.patch).changed_lines.map{|cl| cl.number}})" %>
        <table>
          <thead>
            <tr>
              <td>Source</td>
              <td>Line</td>
              <td>Warning</td>
              <td>Type</td>
            </tr>
          </thead>
          <tbody>
            <% @last_commit.warnings.where(filename: file.filename, source: @sources).each do |warning| %>
              <tr>
                <td><%= warning.source %></td>
                <td><%= warning.line_number %></td>
                <td><%= warning.description %></td>
                <td><%= warning.log_level %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  <% end %>
</div>