<%- @response.each do |file| %>
  <div class=file>
    <%= file.filename %>
    <div class=patch>
      <% GitDiffParser::Patch.new(file.patch).changed_lines.each do |line| %>
        <pre data-content="<%= line.number %>" style="margin:0;padding:0;line-height:1;background-color:<%= line.content.match(/^+/) ? "#EEFFEB" : "#FFECEC" %>"> <%= line.content.gsub(/^[+|-]/, '') %></pre>
      <% end %>
    </div>
    <div class="violations">
      <% @line_changes = "(#{GitDiffParser::Patch.new(file.patch).changed_lines.map{|cl| cl.number}.join("|")})" %>
      <table>
        <thead>
          <tr>
            <td>Source</td>
            <td>Line</td>
            <td>Warning</td>
            <td>Type</td>
          </tr>
        </thead>
        <tbody>
          <% @rubocop_warnings.each do |warning| %>
        
            <% if warning =~ /#{file.filename}:#{@line_changes}:(.*?) ([C|W]): (.*)/  %>
              <tr>
                <td>Rubocop</td>
                <td><%= $1 %></td>
                <td><%= $4 %></td>
                <td><%= $3 %></td>
              </tr>
            <%end %>
          <% end %>
          <% if @brakeman_warnings %>
            <% @brakeman_warnings['warnings'].each do |warning| %>
        
              <% if warning =~ /#{file.filename}:#{@line_changes}:(.*?) ([C|W]): (.*)/  %>
                <tr>
                  <td>Brakeman</td>
                  <td><%= warning['line'] %></td>
                  <td><%= warning['message'] %></td>
                  <td><%= link_to warning['warning_type'], warning['link'] %></td>
                </tr>
              <% end %>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
<% end %>