<%= render 'sidebar' %>

<div class="page-content">
  <%- @response.each do |file| %>
    <% @line_changes = "(#{GitDiffParser::Patch.new(file.patch).changed_lines.map{|cl| cl.number}})" %>
    <% @warnings = @last_commit.warnings.where(filename: file.filename, source: @sources) %>

    <% if @warnings.count > 0 %>
      <div class=file>
        <%= file.filename %>
        <div class=patch>
          <% GitDiffParser::Patch.new(file.patch).changed_lines.each do |line| %>
            <pre class='violations' data-content="<%= line.number %>" style="margin:0;padding:0;line-height:1;background-color:<%= line.content.match(/^+/) ? "#EEFFEB" : "#FFECEC" %>"> <%= line.content.gsub(/^[+|-]/, '') %></pre>
          <% end %>
        </div>
        <div class="violations">
          <table>
            <thead>
              <tr>
                <td>Source</td>
                <td>Line</td>
                <td>Warning</td>
                <td>Type</td>
              </tr>
            </thead>
            <tbody>
              <% @warnings.each do |warning| %>
                <tr>
                  <td><%= warning.source %></td>
                  <td><%= warning.line_number %></td>
                  <td><%= warning.description %></td>
                  <td><%= warning.log_level %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    <% else %>
      <div class=file>
        <%= file.filename %>
        <div class=patch>
          <pre class="no-violations">
            No violations found in this file.
          </pre>
        </div>
      </div>
    <% end %>
  <% end %>
</div>