<% content_for(:breadcrumb) do %>
  <%= link_to "#{@project.github_project_user}/#{@project.github_project_name}", project_path(@project) %> 
<% end %>

<div class='main'>
  <div class="file" style="margin-top:50px;">
  <h3>Users</h3>
  <table>
    <thead>
      <tr>
        <td>Email</td>
        <td>Last Login</td>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= user.email %></td>
          <td><%= user.updated_at %>
        </tr>
      <% end %>
    </tbody>
  </table>
  </div>

  <div class="file" style="margin-top:50px;">
  <h3>Invites</h3>
  <%= form_for @invitation, url: project_invites_path() do |f| %>
    <%= f.text_field :email %>
    <%= f.submit :send_invite %>
  <% end %>

  <table>
    <thead>
      <tr>
        <td>Email</td>
        <td>Invited</td>
        <td>Status</td>
      </tr>
    </thead>
    <tbody>
      <% @project.invitations.each do |invite| %>
        <tr>
          <td><%= invite.email %></td>
          <td><%= invite.created_at %></ts>
          <td>pending</td>
        </tr>
      <% end %>
    </tbody>
  </table>
  </div>
</div>