<% content_for(:breadcrumb) do %>
  <%= link_to "#{@project.github_project_user}/#{@project.github_project_name}", project_path(@project) %> 
<% end %>

<div class="main">
  <% if @project.branches.count.zero? %>
    <p>Great</p>
    <p>All you need to do now is:</p>
    <ol>
      <li>Setup the webhook</li>
      <li>Create your first pull request</li>
    </ol>
  <% else %>
    <% @project.branches.each do |branch| %>
      <div class="project">
        <% if branch.commits.count.zero? %>
          <%= branch.name %>
        <% else %>
          <div style='width:50%; display: inline-block; text-align: top;'>
            <%= link_to branch.name, patch_path(user: branch.project.github_project_user,
                                              repo: branch.project.github_project_name,
                                              pr_number: branch.commits.last.number) %>
          </div>
          <div style='width:30%; display: inline-block'>
            <strong>Last Checked:</strong> <%= time_ago_in_words(branch.commits.last.updated_at) %> ago<br>
          </div>
          <div style='width:10%; display: inline-block'>
            <strong>Warnings:</strong> <%= branch.commits.last.warnings.count %>
          </div>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>