<!DOCTYPE html>
<html>
  <head>
    <title>Oversight</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans|Source+Code+Pro:400,300' rel='stylesheet' type='text/css'>
  </head>

  <body>
    <% if user_signed_in? %>
      <%= render partial: 'layouts/user_bar' %>
    <% end %>
    <% if notice %>
      <p class="flash flash-notice"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="flash flash-alert"><%= alert %></p>
    <% end %>
    <%= yield %>
  </body>
</html>
